<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="reviews.css">
</head>
<body>
    <div class="reviews-div">
        <div class="reviews-div-2">

            <h1>Reviews</h1>
            <table>
                <thead>
                    <tr>
                        <th class="table-head">S.No.</th>
                        <th class="table-head">Doctor Name</th>
                        <th class="table-head">Doctor Speciality</th>
                        <th class="table-head">Provide Review</th>
                        <th class="table-head">Review Given</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-data">1</td>
                        <td class="table-data">Dr. John Doe</td>
                        <td class="table-data">Cardiology</td>
                        <td class="table-data"><button  class="review-btn">Give Review</button></td>
                        <td class="table-data"></td>
                    </tr>
                    <tr>
                        <td class="table-data">2</td>
                        <td class="table-data">Dr. Jane Smith</td>
                        <td class="table-data">Dermatologist</td>
                        <td class="table-data"><button class="review-btn"> Give Review</button></td>
                        <td class="table-data"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>