html{
    font-size: 10px;
}
body{
    padding: 0px;
    margin: 0px;
    font-family:"Poppins", sans-serif;
}

.appointment-div{
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    margin: 2rem auto;
    
}
.p-tag{
    margin: auto;
    margin-top: 1.5rem;
    width: 50%;
    border-top: 1px solid black; 
    opacity: 0.3;
    text-shadow: 1px black;
}
.doctor-img{
    width: 30%;
    height: 30%;
}
.search-doctor{
    padding: 1.5rem;
    font-size: 1.8rem;
    width: 40%;
}

.search-doctor-btn{
    padding: 1.1rem;
    cursor: pointer;
    font-size: 2rem;
}
.appointment-div-1{
    margin: auto;
    border: 2px solid;
    border-radius: 1rem;
    width: 100%;
    align-content: end;
    margin-right: -10%;
    /* margin-left: 16rem; */
    /* display: none; */
}
.loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.no-found-h1{
    text-align: center;
    font-size: 2.5rem;
}
.appointment-div-2{
    
    width: 96%;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
}
.appointment-div-2:hover{
    background-color: whitesmoke;
}
.apt-div{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.apt-div button{
    border-radius: 50%;
    background-color: rgb(204, 219, 232);
    cursor: pointer;
}
.apt-div-1{
    position: relative;
    /* border: 5px solid; */
    text-align: right;
    display: flex;
    justify-content: end;
    z-index: 1000;
    margin: auto;
    width: 50%;
    

}
.apt-search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: absolute; */
    margin-top: 5%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0,.1) 0 - 1px 0 0 inset;
    border-radius: 5px;
    height: auto;
}
.apt-doctor-input-results {
    
    width: 50%;
    z-index: 5;
    height: 420px;
    margin-top: 2px;
    border: 1px solid #555;
}
.apt-doctor-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

.apt-doctor-result-item:hover {
    background-color: #f0f0f5;
}

.apt-doctor-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.apt-doctor-result-item>span:nth-of-type(2) {
    font-size: 14px;
    color: #414146;
}

.apt-doctor-result-item>span:nth-of-type(3) {
    font-size: 11px;
    flex-grow: 1;
    color: #787887;
    text-align: right;
    text-transform: uppercase;
    justify-self: flex-end;
}
.hide-div{
    height: 100%;
    width: 5%;
    background-color: blue;
}
.shown-doctors{
    width: 90%;
    margin: auto;
    border: 2px solid;
    display: none;
    z-index: 1;
    
}

.dentists-div{
    border: 2px solid;
    width: 40%;
    margin: 2rem;
    padding-top: 2rem;
    border-radius: 1rem;
    /* box-shadow: 0px 4px 6px gray; */
    
   position: relative;
}

.dentists-div img{
    width: 40%;
    height: 40%;
}
.dentists-div-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ratings p{
    font-size: 2rem;
    color: rgb(237, 232, 74);
}

.book-apt-btn{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(58, 97, 215);
    color: white;
    font-size: 1.8rem;
    transition: all 0.5s;
}
.book-apt-btn:hover{
    background-color: rgb(45,85,200);
}

@media (max-width: 600px){
    html{
        font-size: 5px;
    }
}
@media (min-width:600px) and (max-width: 800px){
    html{
        font-size: 8px;
    }
}

