<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="appointment.css">
</head>
<body>
    <div class="appointment-div">
        <h1>Find a doctor at your own ease</h1>
        <p class="p-tag"></p>
        <img class="doctor-img" src="Images/Doctor.jpg" alt="Doctor Image"><br><br>
        <input class="search-doctor" type="text" id="apt-search" name="" placeholder="Search doctors by speciality">
        <button class="search-doctor-btn">&#128269;</button><br><br>
        
        <div class="apt-div-1"> 
                <div class="appointment-div-1" id="apt-suggestions">
                    <div class="appointment-div-2">
                        <div class="apt-div">
                            <button id="dentist-btn">&#x1F50D;</button>
                            <p>Dentist</p>
                        </div>
                
                        <p>Speciality</p>
                    </div>
                    <div class="appointment-div-2">
                        <div class="apt-div">
                            <button>&#x1F50D;</button>
                            <p>Gynecologist/obstetrician</p>
                        </div>
                
                        <p>Speciality</p>
                    </div>
                    <div class="appointment-div-2">
                        <div class="apt-div">
                            <button>&#x1F50D;</button>
                            <p>General Physician</p>
                        </div>
                
                        <p>Speciality</p>
                    </div>
                    <div class="appointment-div-2">
                        <div class="apt-div">
                            <button>&#x1F50D;</button>
                            <p>Dermatologist</p>
                        </div>
                
                        <p>Speciality</p>
                    </div>
                </div>
                <div class="hide-div">

                </div>
        </div>
        <div class="shown-doctors" id="show-dentist">
            <h2>6 doctors available in</h2>
            <h3>Book appointments with minimum wait-time & verified doctor details</h3>
            <div class="dentists-div-1">
                <div class="dentists-div">
                    <img src="Images/Dentist1.png" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. Denis Raj</h2>
                    <p>Dentist</p>
                    <h3>9 years experience

                        <div class="ratings">
    
                            <h3 >Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                        </div>
                    </h3><br><br>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>
                <div class="dentists-div">
                    <img src="Images/Dentist2.png" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. Jiao Yang</h2>
                    <p>Dentist</p>
                    <h3>4 years experience
                        <div class="ratings">
                            <h3>Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                    
                        </div>

                    </h3><br>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>
                <div class="dentists-div">
                    <img src="Images/Doctor3.png" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. Lyn Christie</h2>
                    <p>Dentist</p>
                    <h3>5 years experience
                        <div class="ratings">
                            <h3>Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                    
                        </div>

                    </h3>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>
                <div class="dentists-div">
                    <img src="Images/Doctor4.png" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. David Anderson</h2>
                    <p>Dentist</p>
                    <h3>8 years experience
                        <div class="ratings">
                            <h3>Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                    
                        </div>

                    </h3>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>
                <div class="dentists-div">
                    <img src="Images/Doctor5.jpg" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. David Smith</h2>
                    <p>Dentist</p>
                    <h3>11 years experience
                        <div class="ratings">
                            <h3>Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                    
                        </div>

                    </h3>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>
                <div class="dentists-div">
                    <img src="Images/Doctor6.jpg" alt="Doctor Image" class="doctor-images"><br>
                    <h2>Dr. Jessica White</h2>
                    <p>Dentist</p>
                    <h3>3 years experience
                        <div class="ratings">
                            <h3>Ratings: </h3>
                            <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
                    
                        </div>

                    </h3>
                    <button class="book-apt-btn">Book Appointment <br> No Booking Fee</button>
                </div>

            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>